<%- include ("./partials/header") %>


<div class= "ui container segment">
<h1 class="ui header">Bugs</h1>
<% bugs.forEach(function(bug){%>
    <div class="ui container raised text segment">
        
        <div>
            <%=bug.summary%>
        </div>
        <%=bug.stepsToReproduce%>
        <%=bug.expectedResults%>
        <%=bug.actualResults%>
        <a href="/bugs/<%=bug._id%>" class="ui floated basic blue button">
            Show
            <i class ="right chevron icon"></i>
        </a>
    </div>
<% }) %>
</div>
<a href="/bugs/new">bugs</a>
<%- include ("./partials/footer") %>