<%- include ("../partials/header") %>
<h1 class="ui header">Bugs</h1>
<% bugs.forEach(function(bug){%>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bug: <%=bug._id%></h5>
                    <p class="card-text"> <%=bug.summary%></p>   
                    <a href="/bugs/<%=bug._id%>" class="btn btn-primary">
                        Show
                    </a>
                </div>
                <div class="card-footer text-muted">
                    <%=bug.reported%>
                </div>
            </div>
        </div>
    </div>
<% }) %>
<%- include ("../partials/footer") %>